avance-de-investigacion.aux 
avance-de-investigacion.fdb_latexmk 
avance-de-investigacion.fls 
avance-de-investigacion.idx 
avance-de-investigacion.ilg 
avance-de-investigacion.ind 
avance-de-investigacion.log 
avance-de-investigacion.pdf 
avance-de-investigacion.synctex.gz 
avance-de-investigacion.toc 
elsarticle
